@import "../_includes/animation.helpers";
@import "../_includes/app.reset";
@import "_animation";

body {
    -webkit-transform: rotateZ(0deg);
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#content {
    position: absolute;
    @include format(300, 250, #000);
    background-color: #fff;
    top: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
    
    #clicktag {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
    }
    * {
        position: absolute;
    }
    
    #background {
        //top: -3px;
        //left:-3px;
        //transform-origin: 0% 50%;
    }
    #logo {
        top: 204px;
        left: 12px;
    }
    
    &:hover {
        #cta {
            background-color: #fff;
            background-image: url("cta_hover.png");
        }
    }
    
    #cta {
        top: 203px;
        left: 165px;
        width: 117px;
        height: 29px;
        background-color: #00aa90;
        background-image: url("cta.png");
        background-position: 14px 7px;
        background-repeat: no-repeat;
        //border: solid 1px #fff;
        border-radius: 1px;
    }
    
    #price-2 {
        
        position: absolute;
        width: 156px;
        height: 43px;
        overflow: hidden;
        top: 76px;
        left: 12px;
        
        #text2 {
            top: 3px;
        }
    }
    
    #line-2 {
        position: absolute;
        top: 76px;
        left: 14px;
        width: 145px;
        height: 44px;
        overflow: hidden;
        
        .line1 {
            top: 0;
        }
        .line2 {
            bottom: 0;
        }
    }
    
    #revealtext{
        top: 17px;
        left: 12px;
        height: 70px;
        //width: 180px;
        overflow: hidden;
    }
    
    #text {
        //left: 12px;
        //top: 17px;
    }
    
}
