@import '../../../_common/styles/_animation.helpers.scss';
@import '../../../_common/styles/_app.reset.scss';

// @import "./_includes/animation.helpers.scss";
// @import "../_includes/app.reset";
@import "./_animation.scss";

body {
    -webkit-transform: rotateZ(0deg);
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#content {
    position: absolute;
    @include format(300, 600, #000);
    background-color: #fff;
    top: 0;
    left: 0;
    margin: auto;
    overflow: hidden;

    #frame{
        top:0;
        left:0;
        position: absolute;
    }
    
    #clicktag {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
    }
    * {
        position: absolute;
    }
    
    #background {
        opacity: 0;
    }
    
    #background1 {
        left:-30px;
        top: -20px;
        -webkit-transform-origin: 23% 45%;
        transform-origin: 23% 45%;
    }

    #text {        
        left: 95px;
        top: 43px;
        opacity: 0;
    }
    #text_2 {        
        left: 75px;
        top: 104px;
        -webkit-transform-origin: 10% 90%;
        transform-origin: 10% 90%;
    }
    #logo {
        top: 538px;
        left: 89px;
    }
    
    &:hover {
        #cta {
            background-color: #fff;
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARgAAABKCAMAAABXYbv2AAAAWlBMVEUAAAAAqpAAqpAAqpAAqpAAqpAAqpAAqpAAqpAAqpAAqpAAqpAAqpAAqpAAqpAAqpAAqpAAqpAAqpAAqpAAqpAAqpAAqpAAqpAAqpAAqpAAqpAAqpAAqpAAqpAfaRL6AAAAHXRSTlMAu0R3Vd2ZZiIz76uIEcz451CRAUo7HBbUgioFB9XRU7IAAAM4SURBVHja7ZntlpsgEIZHEfA7TXe77bbl/m+zIuy+xfGskxPT/dF5fsSDMFEeYIiGFEVRFEVRFEVRFEVRFEVRFEVRlP+dX6Ts4S6elB1sCA3dw1i9s5TioctHQxG/nkE7UxNnQHuwjegq0NFKsxYm1Md74I1RHE1LMp4vIVzpDqrwzlKKhzofw3oPJp9Bu7mjDW2IVFTAIuoAsiuHQq6nBda4KLqJRFxDuDw/RoxhYhL91ox/iwcsYleMxXWOxIBZaKZZzNQPEdNPXMzu3HDoLWARXEyLSokYY8wMkcf4EPpv94jBlSBmxbyJQbt27W7HEh27YR6BjuPOE0wMCkUxj4ElIQaz+1wxlouhqWcK4sAPbCKxCC7G5cBaLqZNyU9u5svPB4gJnolJvRnZwPt502sewcXYxX0TWwnF4A6lvC5m2geIsUxMOlGxge9cecMsgotJM62NlWeLAV8XMy/nipnjCmgkYmwIPflcLxeTQtYEJRdjcF7EkwvBvty1K1UbMVXqz74YNvDp80hMxvw10/InF4PGb8W6rs3Opvj72nzEIv7H91PFTH0sHIvJc2Vp3UvFYDNLtUYgBtRstRwxnCqGxviVx2JydhnSyMvF5OzSxavcIKZv6J+JsdXCyMS0seQ+EoOBzyN/KKaKeMy0dK2ei0HjjZiJvV94Pl5KZybfKv+iPRCz6pvz8h9uSb4u1i+Bc5xqsuRrS/nS5AsvJ4lpJWJ8AP0tYmwARiImfZO9yctXbEoniqGBi1kzjysHHrQEygj0FTMNOJmYKR4akjPiB96pYmomhk3nWAaeQBmBvmKmASsTQw7TVcLrIx4JqrWWiXHriXLgexNxxVTiEegrHpRMJIprJWLysf3ch8gKu0GN3cum8QX+PedORQ2LwEaTthqbcm5ear6o92VjiFmjxk977QAxZCEGNAQc4udiNFlEXSTbFrm6QQ7KmLLx5pGgn6ReLvBythjPxfSeVmCjgyPUlRFMTLQxYDVaoZgJmUz0Au9hYshuxFTl6+gJA0++mOZFBBczrp+4xiQRk+3PdMz1Ei5XUvb/PlH0Dzc5T6QoiqIoiqIoiqIoiqIoiqIoiqLcyh8UFMcyGjZjLgAAAABJRU5ErkJggg==') !important;
        }
    }
    
    #cta {
        
        top: 460px;
        left: 80px;
        width: 140px;
        height: 37px;
        background-color: #00aa90;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARgAAABKCAMAAABXYbv2AAAAYFBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////98JRy6AAAAH3RSTlMAu0R3Vd2ZImbvMxGIqsz450yRWgVhLBrUrp+CbjsyQpoQGAAAAz9JREFUeNrtmdtynDAMhoWNwRyWbZqkh6Sp3/8ti42Tv0aZsXYWelN9FxBja8CfhVgIKYqiKIqiKIqiKIqiKIqiKIqiKP87T6QA8HJ9JuUTXAiPdA9z88Hairsx7y1FfDqCcdYQ54LxYB8xNmCkRJsaE/rjNfDBaM62JxnmGkJLd9CED9ZW3Jm8D+kabD6CcctIO/oQaaiARZgAsqsOjdxPK2xw0ewmEtGGcH04R4xlYjaGvRn/Hg9YxKdiHM5TEwMWoZnH1Yw5RcwwcTGf5kaH2QIWwcX06JSIsdYuEFnHr1N4u0cMzgQxCfsuBuP6NN2RFTp2wTwCE8eVbzAxaBTNvAaOhPxazfw+Q4zjYmga4h+sxFxYIrEILqbLgUYupt+KnxAbwpdvJ4gJnonZZjOzhffLbtY8gotxq/s2jhKKwRVKeV3N9CeIcUzMdqBhCz925QWzCC5my7S4aY4WA77CzFFilngHtBIxLoSBfO6Xi8khbt3KxVgcr4BVc9/veio1OzFNmk9VTF74bVsTk7F/ZVrecjEY/N40xtjAa9nTQws4q/gf06FiUtE0dTE5V9bRg1QMHmZbrxWIAYbdLTV+HiqG5pgEdTG5uly2lZeLydVljGe5QczQ0j8T45qVmYnpY6uriMkLn1e+KqaJeGTadq6Bi8HgnRjcFqJb6RG30kHFt8m/aCtikr4l3/6Xqphdptk1cImpJiu+Dhcr5QXF9zgxvUSMD2C4RYwLwMrEWPzuFfIVXg4UQxcuJlWerlx40BMoIzBXZBroZGKmuGtJzoyfMYeKMUwMS+fYBp5AGYG5ItOAk4mhDukq4fWMV4Im9TIxXTpQLvxgI12RSjwCc8WLko1Ecb1MjLn1VWmAl0PFmE0Mnl5uW1/gP2ruVPSwCDxoVvyWRyO932q+6PflYIhJUfMNL9cjnSOGHMSAlkCH+KVYTRZhimLbo1a3qEEZuxsMMXb7TiThOYTrG50lxnMxg6cEbIxwhL4ygomJNi64G51QzIRKduYHvLoYcjsxTfk5esLCky/SvIjgYua0xTkmiZhsf6E6D9f4yVcBkN2Swun0H276L1pFURRFURRFURRFURRFURRFUZTD+AMGktQjakAs3QAAAABJRU5ErkJggg==') !important;        
        background-size: 100%;        
        background-repeat: no-repeat;
        border-radius: 1px;
    }
    
    #shadow{
        opacity: 0;
    }
}

@import '../../../_common/styles/dbb.scss';