<div id="content">
    <img src="./images/background1.jpg" alt="" id="background1" inline>

    <img src="./images/background.jpg" alt="" id="background" inline>
    <!-- <img src="./images/frame.jpg" alt="" id="frame" inline> -->


    <img src="./images/shadow.png" alt="" id="shadow" inline>


    <!--<div id="bar_text"></div>-->

    <img src="./images/text.png" alt="" id="text" inline>
    <img src="./images/text_2.png" alt="" id="text_2" inline>

    <img src="./images/logo.png" alt="" id="logo" inline>
    <div id="cta"></div>
    <a id="clicktag" href="#" onclick="javascript:window.open(window.clickTag);"></a>
</div>