@import '../../../_common/styles/_animation.helpers.scss';

@include keyframe(logo) {
    0% {
        opacity: 0;
        @include transform(scale(0.9))
    }
    100% {
        opacity: 1;
        @include transform(scale(1))
    }
}

@include keyframe(fadeIn) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@include keyframe(text_2) {
    0% {
        opacity: 0;
        @include transform(rotate(-4deg) translateX(2px))
    }
    100% {
        opacity: 1;
        @include transform(rotate(0) translateX(0px))
    }
}

@include keyframe(slideIn) {
    0% {
        @include transform(translateX(240px))
    }
    100% {
        @include transform(translateX(0))
    }
}

@include keyframe(background1) {
    0% {
        @include transform(rotate(0deg) scale(1.03))
    }
    100% {
        @include transform(rotate(10deg) scale(1))
    }
}

@include keyframe(shadow) {
    0% {
        opacity: 0;
        
    }
    100% {
        opacity: 1;
        
    }
}

@include keyframe(shadowBack) {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

