@import '../../../_common/styles/_animation.helpers.scss';
@import '../../../_common/styles/_app.reset.scss';

// @import "./_includes/animation.helpers.scss";
// @import "../_includes/app.reset";
@import "./_animation.scss";

body {
    -webkit-transform: rotateZ(0deg);
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#content {
    position: absolute;
    @include format(300, 600, #000);
    background-color: #fff;
    top: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
    
    #clicktag {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
    }
    * {
        position: absolute;
    }
    
    #logo {
        top: 528px;
        left: 89px;
    }
    
    &:hover {
        #cta {
            background-color: #fff;
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARgAAABKCAYAAABgv0vEAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDY3IDc5LjE1Nzc0NywgMjAxNS8wMy8zMC0yMzo0MDo0MiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUgKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6RkIzOTRGM0QwOTY2MTFFODhCMTVBQUQzN0MxMEM5QTYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6RkIzOTRGM0UwOTY2MTFFODhCMTVBQUQzN0MxMEM5QTYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpGQjM5NEYzQjA5NjYxMUU4OEIxNUFBRDM3QzEwQzlBNiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpGQjM5NEYzQzA5NjYxMUU4OEIxNUFBRDM3QzEwQzlBNiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PnE+eG8AAAeDSURBVHja7J1NiCNFFMd7XD9XQSJ4EAUx40k8mbl4UBR6BC+iQgZWD35Bj4eVRUUSUNGTpPXiepuoiCKIGxH0oLKJCN4E5yAevOwGD3sQFgweFFHW+GqnAr01rz/yNd2V+f3gkc5Md1JV/erf71VVd9bG43EAALAMLqMJAACBAQAEBgAAgQEABAYAEBgAAAQGABAYAEBgAAAQGABAYAAAgQEAQGAAAIEBAAQGAACBAQAEBgAQGAAABAYAEBgAQGAAAObjcpoAYLGs9U5Wslzj5gkiGADI5QpSJABYBh+I/Sn2DAIDAIvmHhvB7Ig9VvXClj4GI/lqQ146Gbvsio3EuvZVIxJrOse0Z9yv77xv2/0MWlk3C1SzY49NY2C/YzBjM54SqyXem7bqpezbEgud746dfeq2rUKn3ANrWeciq/3maWfNJ0wdhwXaJ7TnvZGoz6617rh5YtcjgTku9oXYlWIfif0t9jkCk07NcXjNOSadNE4RjrzPmGa/UDlm2u9xaRSso3H07ZQOmcXQCkeynL2U+rsdt6uIcMepd7Kcod1nK6WcWe23qHZO+kTX+kSa4O3Y8mrnxFgkF7lYRKbticB8I3bMXlSOiH0i9rDY16RI89OyDrOqNOyVvTHlcd2CghYpwtRzOu5OhigkI5x+gf0OgiijLK0Ucdm3n4hMyyM/MRHLk2IXbCTzmdj9CExx2ta0UDyaMYrwhVpOepAWwbgi0ywgMLHSIbX0baBEK7WCnXfRPqGlXA2lLDWlPgMbeW0p6WhHRKbukZ98LPas2FjsqNiXYncjMMWIrZl0YV0RGd8FxnSSNWvrirOHM0QxsSImNecz6xmiVFfadcuOMRnbSPmOg/aJ2Jalm1OW0Kn/yNanZ21TEarIMz96T+x5u32dTZPuQmCmY5SSAqwKQ+v484roUBGqKCOiyWvTXWUcRxsMLitN0spSd9679RmlfMZksL/nof+YVX0v2+3r7RjNnVUpnC8reUc5731nMiMSOSH+LJ0udAQmVtIZTbTrBdpY+1sjmH32a15hDpQ6pM0qTcQwWQfT5jeMmyd896c3xK4Re0XsRrHTYveKnSGCKUaoXI1WjeECojR3rKRuI5dIiV5GwWozUARm32DwCojLhFfF3rbbN4l9J3YrApONcYpTjsBoV19IT32iFIHxnVaOqGjrioxon005dhV4Qexdu32Lrf/NpEj7GWekEpuH4Oo7r8C0EilPqPx/6GG9QkcoOjkRi6GtRC2TWbooWO64y1ViD4hdfcDt9G2wN2V9uzWTLt0ndh6Byae9ounRMkSmUzDC8YV+zv9j5W+79oK0o6ScF6Pjtd5JIzDbS0iV3hJ7rgLtdoet/6OkSPnsBNOvETmsAjNKSSFWTaAn089pA82mvhuBvgLcYMao+iI0i54N+8+DjODQRjCbiatM0wmPW9apYnQks9PFihivYputF0yZY5sOdYL9U/aTFdQbCyzXSzY9ufaA28PcPmBmlW6z738O9hbkITAp+XQ32H8/SYTA5LKb066+sWZfzwaXTqlP4wuTNUfmguXeINqQKCaSVGlRKeS/Yl+V0EbvJ8TFTFObcaDzZZ00X1KkvEVVcLjSv8ARmFkuYFrk0/RcgN8Re8q+/zXYG+z9rcxC+SIwaYuqVolagTqDvkCwmdGmoU2ra0oa2VZSJV8xg8rH7fY5O8xwruxC+SIw9ZRxBm1b66w+dOJmyWWbdRZlmPO+VuA8TFPfUcEo5kex34O9sZVOiggNC/pN1Xld7EW7fd6mRWeqUDBfBCbKGWPQVsE2FOeJKiowO4F+78xB4n5fqJQpUjp7nsA0C57Pac5Fr0BZi9zI2FBSJ98wg8mvJc6HiVx+qUrhqjrIGyZEoak4aU9xjJFzBeoHl07XRsoVahEO1c/oBN0MwQwT0Vld6WyDEgRm6JTFRAFx4ly0cs7DpE1DR2D6ifrUlc4+7WK3gVLWyEl53Hu7jJicsvsM7f9aJYv6vJh1Nm/a7T/EHhT7qUoFrKrA9HNCZG1Ngzstq3UI10kX4VBhxudnpXxZY0hlPV0tDi59oFfes2nilDESd8wjDLLvDp9l5sZdTDiZTRol2j92fKCZMV7j29KHp4O9O6kNf4k9JPZD1Qrp20K7oQ0BhynOXtRRjbBsVbB+xsm3g/IeG9Cdog23U87DtLdzbM8YrXWVFLipCHW3YLtvenTj4zFbLzNz9I/YI2LfV7Ggl3kiKj3riBs5Ucd2kP6s2Mlnte3nVMmZBolylb2UP68NewXKaY5dD7Lv2u7OWd+ig73bQfpzjof2wrTu0YO/TaRiHvZ9xIqLOVenq1rYtfF4XG4BlvsreKHj9NwkOR21YP+vCsxCMiUclTjWkazPRX9Yxq8dLtmnjSiahXTmebyPi31a9MAyftmxdIEBWDWWLDAmanvCRmsfTnMgPx0LAHkYYTk6rbiUBQID4B8XvInmSJEAgAgGABAYAAAEBgAQGABAYAAAEBgAQGAAAIEBAEBgAACBAQAEBgAAgQEABAYAEBgAAAQGABAYAEBgAAAQGABAYAAAgQEAQGAAoKL8L8AA2RS5YZ3+sgwAAAAASUVORK5CYII=");
        }
    }
    
    #cta {
        
        top: 460px;
        left: 80px;
        width: 140px;
        height: 37px;
        background-color: #00aa90;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARgAAABKCAYAAABgv0vEAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyhpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDY3IDc5LjE1Nzc0NywgMjAxNS8wMy8zMC0yMzo0MDo0MiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUgKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6RkIzOTRGMzkwOTY2MTFFODhCMTVBQUQzN0MxMEM5QTYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6RkIzOTRGM0EwOTY2MTFFODhCMTVBQUQzN0MxMEM5QTYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpGQjM5NEYzNzA5NjYxMUU4OEIxNUFBRDM3QzEwQzlBNiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpGQjM5NEYzODA5NjYxMUU4OEIxNUFBRDM3QzEwQzlBNiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PoW9alcAAAcHSURBVHja7J09iCRFGIb7PP/QQFowEAWx7yIxcjYxEYVe8RLBg14QwV/oNVAERWZARAORGU3UbEdEFBG8EUEDkZsRwfgmEAOT28HgAuFgR4MLPPXWKrYG+uq+7q6en+2u2eeBl5u56en5qrr67e+r/tlj+/v7AQDAKjiGwQAABgMAGAwAAAYDABgMAGAwAAAYDABgMACAwQAAYDAAgMEAAAYDAIDBAAAGAwAYDAAABgMAGAwAYDAAABgMAGAwAIDBAABgMACAwQDAkrhB6R8fAr2ObQXgFZ8qXVJ6gQwGAJbNeaUTSv8pPa30JQZTTEupW/D5WGmq1Df/SqRKifWdzpzLDa33HbNcXqybDm3smu/mMTK/MZqzD88ohZn3uq8GOcu2lWLrt3vWMpHpq9iKe2RUtC2K+m+RfpbGhG7jxKF/YrPdW5n2jI36OfE1lceUvlW60ZjMltI3jY1WG0zNivfd6easo20tN1xgOZu4JFaXNg4d23dOqTVHH3aF9UjLhcJvJtYyqdJeSZy7BXEW9d8i/ZzHjmlXXt/sLDCumqrTSv+a2P9WOtXUWH2bg9FH3501Tn9b5sjeqvi9vrCeOCeDyzKxMp3Y9G9Y8nuRiTNsQJ+lBbG0hTbnjau2R+NEZyzPmgxGZzJfKz3SxECbajAdIykVT3N2nnUhLCkPJCaCySQOBtMTdjSpfBsJZUTouPMue0xIJVdLiCUU2jMyJcWWUI52jXH6whdKL+oiROkWpe+UHqREciuR7LR+rySl9a1Eamc+i3JKqKqlUiSsIyyIfdfh+0lJKbZ7iCVSWeljx5JYn+8JpdQ5z0slrVcy8f+p9AAlUjWmOSXAujAxR9SpMDFZdT2jgowlcSir7InUQUnGE9VYJkmxRNZ7aWJYWsdssn/g4fj5UOkN8/o2pR+U7qdEqm4yRe99ZyoM7nAJO12aU85Iph059PE0Z96oLmMOStpQZoa6z29X2jB9N/Z0/Lyr9I55fYfSWaWTGIw7sXA0WjcmS9hx7bmSyGQuqZC9TIP1ZiQYjDQZvC798KbSB+b1nUo/Kd2DwRSjB8UZy2Ckoy/klz5pjsH4TrvEVKTrirRp7wZ+nTGqwqtKH5vXd5v231VnQNc3tKP2C0qJzSNw9F3UYNqZciEWPp942K7YMopuScai6QhZy+wsXRqsdt7lJqVHlW4+5H76MTg4ZX3SSJdLDytdxGDK6axpebQKk+k6Zji+MCz5vCf839gckHaEknOWHWuD2V7BQet9pZcb0G/3mfafpkQqZyeofo3IUTWYaU4JsW4Grdu5FeTfZqHbuxHIt45okmA1Fw1e8aAiOLIZzGbmKJNY6XHbDKoePlK40/UEM17HPjvhmH30TLbSDa49ZT+7gnpjiXG9bsqTWw+5P44HB2eV7jXvfw0OLsjDYHLq6b7JXLITlSkGU8q4pF9945j5dze4+nR0lbEwu+YoDq69QXR2NfCySkj9vJbva+ijTzLmou+81vNAF+vaaL6USGUXVcHRKv8Cy2DmOYBJmU/iuQF/pPScef97cDDZ+0edQfliMFUvqvKR0KHNIF8gmBT0aWzKaun6l45QKvmKnlR+yby+YKYZLtQdlC8GE+XMM0ivpZ3Vh504qTm2ec+iTErehw7boUp7p45ZzDmlveBgbqWbY0ITx3HTdN5Wes28vmjKovNNCMwXg0lL5hikq2BbwuBJG2owO4F878xhYv9eLMSUCjt7mcEkjtuzyrYYOMQ6dvjNllA6+YaeTH4rsz105vJbU4Jr6iRvnDGFRBikA2FgTK0j0DC4+nRtKhyhljGghgU7Qb/AMONMdhYJO9uoBoOZWLHoLKCX2Rbtku0w69PYMphhpj2RsLNXvdhtJMSaWiXPwPodbSZnzDIT81m7ZlNfFH2dzXvm9V9Kp5R+aVSEnj3RbnbbfeTwKIYyhit+0lp7jifa5T0mYRWPwZCUVowzynlq3l7F9cRzxN52eBxDt+K4Cj16TMPzSldM7JeUHuKJdsuZ7N3MSad7gfspRn2k2mpg+3S2tR3U99iAfoU+3M7ZDlVv59ieM1vrCyWwnel2HNvj2y0oT5p26TNHl5WeUPq5iYFe54mpzC7n3ihJY7eNcYwL1tUx62nSYBpl4qr7Uv6yPhw4xKm/eyIovmu7v2B7XSd7t43GOeOhZ2L1pTx6XOnz4OCCustmW51tarDr/mdLYmvQc5NkNcLg2r8qMA/ZeaZpjTtztj2+jgdtivpCOv083qeUvmpysPxdJAC/0FnbMyZb+6zpwWIwAP5x3GQwjQeDAQAMBgAwGAAADAYAMBgAwGAAADAYAMBgAACDAQDAYAAAgwEADAYAAIMBAAwGADAYAAAMBgAwGADAYAAAMBgAwGAAAIMBAMBgAACDAYAjx/8CDACfNcOuZBsmNQAAAABJRU5ErkJggg==");
        background-size: 100%;        
        background-repeat: no-repeat;
        border-radius: 1px;
    }
    
    #price-2 {
        
        position: absolute;
        width: 156px;
        height: 43px;
        overflow: hidden;
        top: 120px;
        left: 80px;
        
        #text2 {
            top: 3px;
        }
    }
    
    #line-2 {
        position: absolute;
        top: 116px;
        left: 73px;
        width: 145px;
        height: 44px;
        overflow: hidden;
        
        .line1 {
            top: 0;
        }
        .line2 {
            bottom: 0;
        }
    }
    
    .revealtext{
        top: 36px;
        left: 14px;
        height: 135px;
        overflow: hidden;
    }

    
}


@import '../../../_common/styles/dbb.scss';