<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name='ad.size' content='width=160,height=600'>
    <link rel="stylesheet" href="./_styles/css/main.css" inline/>
    <script type="text/javascript" src="http://localhost:48626/takana.js"></script>
    <script type="text/javascript">takanaClient.run({host: 'localhost:48626'});</script>
    <script type="text/javascript">
        var clickTag = "";
    </script>
</head>