<div id="content">

    <img src="background.jpg" alt="" id="background">

    <div id="bar_text"></div>

    <div id="revealtext">
        <img src="text.png" alt="" id="text">

    </div>


    <img src="logo.png" alt="" id="logo">
    <div id="cta"></div>
    <a id="clicktag" href="#" onclick="javascript:window.open(window.clickTag);"></a>
</div>
